<h1>Text Visualizer</h1>

<body>
  <%= form_for @text_map do |f| %>
    <%= f.text_area :text, :class=>"text-area"%><br><br>
    <%= f.submit %>
  <% end %>
</body>



<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @text_maps.each do |text_map| %>
      <tr>
        <td><%= link_to 'Show', text_map %></td>
        <td><%= link_to 'Edit', edit_text_map_path(text_map) %></td>
        <td><%= link_to 'Destroy', text_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
